@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans+Inline+One&family=Kenia&display=swap');
*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
.main{
    width: 100%;
    height: 100vh;
}
#downward{
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100vh;
    background-color: black;
}
#downward img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.upward{
    pointer-events: none;
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100vh;
    padding: 0px 100px;
}
.navbar{
    pointer-events: all;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    color: rgb(255, 255, 255);
    font-family: sans-serif;
}
.nleft{    
    height: 50px;
    display: flex;
    align-items: center;
    gap: 50px;
}
.nright{
    height: 50px;
    display: flex;
    align-items: center;
    gap: 50px;
}
.content{
    position: relative;
    width: 100%;
    left: 0%;
    top: 50%;
    z-index: 11;
    transform: translate(0%,-50%);
    display: flex;
    justify-content: space-between;
}
.cleft{
    width: 35%;
}
.cleft .elem{
    position: relative;
    color: white;
    width: 100%;
    height: 5.4vw;
    overflow: hidden;
}
.cleft .elem h1:nth-child(1){
    top: 0%;
}
.cleft .elem h1{
    position: absolute;
    top: 100%;
    left: 0%;
    font-size: 4vw;
    line-height: 5.4vw;
    font-family: 'Kenia', sans-serif;
    letter-spacing: -1px;
}
.cleft button{
    margin-top: 50px;
    background-color: white;
    color: black;
    padding: 20px 35px;
    pointer-events: all;
    border: 1px solid rgb(187, 187, 186);
}
.cright{
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    color: white;
}
.cright p{
    text-align: end;
    font-family: calibri;
    margin-bottom: 20px;
}
.cright .blank{
    width: 100%;
    height: 140px;
    background-color: rgb(201, 201, 200);
    margin-bottom: 20px;
}